body{
    /* 狭い画面（600px以下）：縦1カラムに切り替え */
    @media (max-width: 600px) {
      .container {
        flex-direction: column;
      }
}

h1{

    font-weight: bold;

}

#result{

    font-size: 18px;

}
